{% extends "includes/layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}

  <div class="container" id="aboutContainer">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 text-center mt-4">Funding a better future</h1>
      </div>
    </div>

    <hr class="mb-4" />

    <div class="row align-items-center">
      <div class="col-lg-6 col-lg p-4">
        <img
          src="/static/images/site/about.png"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 col-lg">
        <p class="fs-5 fs-4">
          At LUX, we believe in the power of collective action and the potential
          of innovative projects. We have created a revolutionary crowdfunding
          platform that opens up a world of opportunities for both project
          creators and supporters. Our unique twist? We embrace the transformative
          potential of cryptocurrency.
        </p>
      </div>
    </div>

    <div class="row">
      <h2 class="text-orange text-start my-5">Why choose us?</h2>
      <div class="col-lg-6">
        <ul class="list-outline-orange">
          <li class="list-group-item">
            <div class="list-group-title">Crypto Compatibility</div>
            <div class="item-description">
              Say goodbye to traditional payment methods and embrace the
              decentralized world. Lux seamlessly integrates with Freighter,
              allowing you to contribute without the bureaucracy of opening an
              account.
            </div>
          </li>
          <li class="list-group-item">
            <div class="list-group-title">Global Reach</div>
            <div class="item-description">
              We break down geographical barriers and connect project creators
              with a global community of backers. No matter where you are in the
              world, you can support projects that align with your passions and
              values.
            </div>
          </li>
          <li class="list-group-item">
            <div class="list-group-title">Guaranteed Funding Approach</div>
            <div class="item-description">
              With Lux, backing a project is risk-free. If a project doesn't reach
              its funding goal, the backers get their contributions returned. This
              ensures that your money is committed only to projects with strong
              community support and a clear path to success.
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6">
        <ul class="list-outline-orange">
          <li class="list-group-item">
            <div class="list-group-title">Transparency and Accountability</div>
            <div class="item-description">
              We foster a culture of transparency, where project creators are held
              accountable for their progress and backers can track the impact of
              their contributions. Our smart contract technology ensures that
              funds are allocated appropriately and project milestones are met.
            </div>
          </li>
          <li class="list-group-item">
            <div class="list-group-title">Diverse Project Portfolio</div>
            <div class="item-description">
              Lux hosts a diverse range of projects across various sectors,
              including technology, books, games and more. Explore exciting
              ventures, support groundbreaking innovations, and be a part of
              shaping the future.
            </div>
          </li>
          <li class="list-group-item">
            <div class="list-group-title">Enhanced Security</div>
            <div class="item-description">
              Our platform prioritizes the highest standards of security and
              encryption protocols, ensuring that your crypto assets remain safe
              throughout the donation process. You can have peace of mind knowing
              that your contributions are protected.
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

{% endblock %}
