{% extends "includes/layout.html" %}

{% block title %}
  My Projects
{% endblock %}

{% block main %}

<div class="container" id="accountContainer">
  
  {% with parent_page = "my_account" %}
    {% include "includes/search.html" %}
  {% endwith %}

  <!-- Projects section -->
  <div class="row justify-content-center gap-4">

    {% if projects_list|length == 0 %}

      <!-- No projects created info -->
      <div class="row text-center">
        <div class="col-md-6 col-md my-auto">
          <p class="fs-4">No projects found.</p>
        </div>
        <div class="col-md-6 col-md">
          <a class="btn btn-white btn-large" id="startProjectLink" href="/newproject"
            >START PROJECT</a
          >
        </div>
      </div>

      <hr />

    {% else %}

      <!-- Projects list with image cards -->
      {% include "includes/projects_list.html" %}
    
    {% endif %}
    
  </div>

  {% endblock %}